<div ng-controller="index as vm">
    <div class="container" layout="column">
        <div class="header" layout="row" ng-cloak>
            <div layout="row" flex="40">
                <div layout="row" layout-align="start center" class="top-header">
                    <a href="/"><img class="logo" src="content/images/layout/quartzinc.png" /></a>
                    <span>Mega Mine</span>
                </div>
            </div>
            <div flex layout="column" ng-show="vm.profile.isAuthenticated">
                <div class="profile-menu" layout="row" layout-alignment="center">
                    <div flex>
                        <span ng-repeat="crumb in vm.navigation.breadcrumbs">
                            <a href="{{crumb.url}}" class="breadcrumb">{{crumb.title}}</a> &gt;
                        </span>
                        &nbsp;&nbsp; | &nbsp;
                    </div>
                    <md-menu-bar>
                        <md-menu>
                            <button ng-mouseenter="$mdOpenMenu()">{{vm.profile.firstName}}</button>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button ng-click="vm.showChangePasswordDialog($event)">
                                        <md-icon class="icon-changepassword"></md-icon> Change Password
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-href="/logout">
                                        <md-icon class="icon-logout"></md-icon> Logout
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-menu-bar>
                </div>
                <div class="main-menu">
                    <md-menu-bar>
                        <md-menu ng-repeat="menu in vm.profile.menu">
                            <button ng-click="$mdOpenMenu()">
                                <md-icon class="{{menu.spriteCssClass}}"></md-icon> {{menu.text}}
                            </button>
                            <md-menu-content>
                                <md-menu-item ng-repeat-start="item in menu.items" ng-hide="item.cssClass === 'blank-menu-item'">
                                    <md-button ng-href="{{item.url}}" ng-hide="item.cssClass === 'blank-menu-item'">
                                        <md-icon class="{{item.spriteCssClass}}"></md-icon> {{item.text}}
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider ng-repeat-end ng-show="item.cssClass === 'blank-menu-item'"></md-menu-divider>
                            </md-menu-content>
                        </md-menu>
                    </md-menu-bar>
                </div>
            </div>
        </div>
    </div>
    <div flex layout="row" class="container main-content ui-view-container">
        <md-progress-linear class="md-warn" md-mode="buffer" value="{{vm.startvalue}}" md-buffer-value="{{vm.buffervalue}}" ng-style="{'visibility': vm.navigation.isLoading ? 'visible' : 'hidden'}"></md-progress-linear>
        <div flex ui-view class="view-content">
            <div id="splash" class="splash">
                <br /><br />
                <h2 class="top-header">Welcome to Mega Mine</h2>
                <h3 class="splash-header">Please wait ...</h3>
                <br />
                <img class="splash-loading" src="content/images/layout/loading.gif" />
            </div>
        </div>
    </div>

</div>
