################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/gitpush.bat
/MegaMine/src/MegaMineDB/obj
/MegaMine/src/MegaMineDB/MegaMineDB.dbmdl
/MegaMine/src/eMine/Properties/PublishProfiles
/MegaMine/src/eMine/node_modules
/MegaMine/src/eMine/wwwroot/js
/MegaMine/src/eMine/wwwroot/css
/MegaMine/src/eMine/appsettings.Production.json
/MegaMine/src/eMine/appsettings.Staging.json
/MegaMine/src/eMine/Properties/launchSettings.json
