################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/gitpush.bat
/MegaMine/src/MegaMineDB/obj
/MegaMine/src/MegaMineDB/MegaMineDB.dbmdl
/MegaMine/src/eMine/Properties/PublishProfiles
/MegaMine/src/eMine/node_modules
/MegaMine/src/eMine/wwwroot/js
h/MegaMine/src/eMine/wwwroot/css
