################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/gitpush.bat

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

*.js
*.js.map

# DNX
project.lock.json


# project specific
/MegaMine/src/MegaMineDB/MegaMineDB.dbmdl
/MegaMine/src/MegaMine.Web/Properties/PublishProfiles
/MegaMine/src/MegaMine.Web/node_modules
/MegaMine/src/MegaMine.Web/wwwroot/js
/MegaMine/src/MegaMine.Web/wwwroot/css
/MegaMine/src/MegaMine.Web/appsettings.Production.json
/MegaMine/src/MegaMine.Web/appsettings.Staging.json
/MegaMine/src/MegaMine/.vs
/MegaMine/.vs

/MegaMine/src/MegaMine.Web/Views/Home/AppJsReferences.cshtml
