<nt-toolbar-button title="Add Material" button-text="Save" button-icon="add" button-click="vm.saveMaterial($event)"></nt-toolbar-button>
<md-content layout-padding>
    <form name="materialForm" novalidate>
        <div layout="row">
            <nt-select flex="10" form="materialForm" label="Quarry" control-name="quarry" ng-model="vm.model.quarryId" opt-list="vm.viewModel.quarry" ng-required="true"></nt-select>
            <nt-input flex="15" form="materialForm" type="date" label="Date" control-name="materialDate" ng-model="vm.model.materialDate" ng-required="true"></nt-input>
            <nt-select flex="10" form="materialForm" label="Colour" control-name="materialColour" ng-model="vm.model.materialColourId" opt-list="vm.viewModel.materialColour" ng-required="true"></nt-select>
            <nt-input flex="10" form="materialForm" label="Block Number" control-name="blockNumber" ng-model="vm.model.blockNumber" ng-required="true" em-maxlength="20"></nt-input>
            <nt-input flex="10" form="materialForm" type="number" label="Length" control-name="length" ng-model="vm.model.length" ng-required="true"></nt-input>
            <nt-input flex="10" form="materialForm" type="number" label="Width" control-name="width" ng-model="vm.model.width" ng-required="true"></nt-input>
            <nt-input flex="10" form="materialForm" type="number" label="Height" control-name="height" ng-model="vm.model.height" ng-required="true"></nt-input>
            <nt-input flex="10" form="materialForm" type="number" label="Weight" control-name="weight" ng-model="vm.model.weight" ng-required="true"></nt-input>
            <nt-select flex="10" form="materialForm" label="Product Type" control-name="productType" ng-model="vm.model.productTypeId" opt-list="vm.viewModel.productType" opt-value="productTypeId" opt-text="productTypeName" ng-required="true"></nt-select>
            <div flex="10" layout-align="center">
                <nt-button ng-click="vm.addMaterial(materialForm)" button-icon="save" button-text="Add" form="materialForm" ng-show="!vm.editMode"></nt-button>
                <nt-button ng-click="vm.updateMaterial(materialForm)" button-icon="save" button-text="Update" form="materialForm" ng-show="vm.editMode"></nt-button>
                <nt-button ng-click="vm.cancelMaterial(materialForm)" button-icon="cancel" button-text="Cancel" ng-show="vm.editMode"></nt-button>
            </div>
        </div>
        <div layout="row">
        </div>
    </form>
</md-content>
<nt-grid vm="vm" ></nt-grid>

