<nt-dashobard flex dashboard="vm.dashboard"></nt-dashobard>

<script type="text/ng-template" id="material_colour_dialog">
    <md-dialog aria-label="Colour" class="dialog">
        <nt-dialog form="materialColourForm" title="Colour">
            <div layout="row">
                <nt-input flex="30" form="materialColourForm" label="Colour" control-name="colourName" ng-model="vm.model.colourName" ng-required="true" em-maxlength="20"></nt-input>
                <nt-input flex="70" form="materialColourForm" label="Description" control-name="colourDescription" ng-model="vm.model.colourDescription" ng-required="false" em-maxlength="100"></nt-input>
            </div>
        </nt-dialog>
    </md-dialog>
</script>