<nt-toolbar header="Product Summary"></nt-toolbar>
<md-content>
    <div layout="row">
        <nt-multi-select flex="30" label="Product Types" ng-model="vm.selectedProductTypes" nt-items="vm.productTypes"></nt-multi-select>
        <nt-multi-select flex="50" label="Quarries" ng-model="vm.selectedQuarries" nt-items="vm.quarries"></nt-multi-select>
    </div>

    <form name="summaryForm" novalidate>
        <div layout="row">
            <nt-multi-select flex="30" label="Colours" ng-model="vm.selectedColours" nt-items="vm.colours"></nt-multi-select>
            <nt-input flex="15" form="summaryForm" type="date" label="Start Date" control-name="startDate" ng-model="vm.searchParams.startDate"></nt-input>
            <nt-input flex="15" form="summaryForm" type="date" label="End Date" control-name="endDate" ng-model="vm.searchParams.endDate"></nt-input>
            <div flex="10" layout-align="center">
                <nt-button type="command-bar" css-class="content-button" icon="update" text="Get Summary" ng-click="vm.getSummary(summaryForm)" form="summaryForm"></nt-button>
            </div>
        </div>
    </form>
</md-content>
<nt-grid grid="vm.grid"></nt-grid>
<script type="text/ng-template" id="product_summary_dialog">
    <md-dialog aria-label="Product Type Summary" class="dialog full-width">
        <nt-dialog form="summaryForm" header="{{vm.dataOptions.summaryModel.productTypeName}}({{vm.dataOptions.summaryModel.quarryName}})">
            <div layout="row">
                <nt-grid grid="vm.dataOptions.dialogGrid" class="full-width" grid-class="dialog-grid"></nt-grid>
            </div>
        </nt-dialog>
    </md-dialog>
</script>