<nt-list-toolbar vm="vm" title="Product Types" button-text="Add Product Type" button-click="vm.addProductType($event)" claim="Quarry:ProductTypeAdd"></nt-list-toolbar>

<script type="text/ng-template" id="product_type_dialog">
    <md-dialog aria-label="Product Type" class="dialog">
        <nt-dialog form="productTypeForm" title="Product Type">
            <div layout="row">
                <nt-input flex="30" form="productTypeForm" label="Product Type" control-name="productTypeName" ng-model="vm.model.productTypeName" ng-required="true" em-maxlength="20"></nt-input>
                <nt-input flex="70" form="productTypeForm" label="Description" control-name="productTypeDescription" ng-model="vm.model.productTypeDescription" ng-required="false" em-maxlength="100"></nt-input>
            </div>
            <div layout="row">
                <div flex="80">
                    <div class="type-formula">
                        <label class="ng-binding">Formula</label>
                        <div layout="row">
                            <div flex="45" ng-repeat-start="item in vm.model.formulaJson track by $id(item)">
                                <label>{{item.field}}</label>
                                <select ng-model="item.operand" ng-disabled="vm.disabled">
                                    <option value="<"><</option>
                                    <option value="<="><=</option>
                                    <option value="=">=</option>
                                    <option value=">">></option>
                                    <option value=">=">>=</option>
                                </select>
                                <input name="formulaValue_{{$index}}" type="number" ng-model="item.value" ng-disabled="vm.disabled" />
                            </div>
                            <div flex="10" ng-repeat-end ng-hide="$last"><label>And</label></div>
                        </div>
                    </div>
                </div>
                <nt-input flex="20" form="productTypeForm" type="number" label="Formula Order" control-name="formulaOrder" ng-model="vm.model.formulaOrder" error-messages="vm.validator.orderErrorMessages" ng-change="vm.validator.validateFormulaOrder(productTypeForm)"></nt-input>
            </div>
        </nt-dialog>
    </md-dialog>
</script>