<!--<nt-list-toolbar flex vm="vm" title="Quarries" button-text="Add Quarry" button-click="vm.addQuarry($event)" claim="Quarry:QuarryAdd"></nt-list-toolbar>-->

<nt-toolbar title="Quarries" class="command-bar">
    <md-button class="command-bar-button has-hover" ng-click="vm.addQuarry($event)">
        <md-tooltip>
            Add Quarry
        </md-tooltip>
        <md-icon class="fa fa-plus command-bar-button-icon" aria-label="Add Quarry"></md-icon>
        <div class="command-bar-button-text">Add</div>
    </md-button>
</nt-toolbar>

<div layout="row" style="background-color: white">
    <div flex>
        <md-whiteframe class="md-whiteframe-24dp" flex>
            <md-content flex style="height: 600px;">
                Details
            </md-content>
                <nt-grid flex vm="vm" grid-class="main-grid" ng-hide="true"></nt-grid>
        </md-whiteframe>
    </div>
    <div flex="25" layout="row">
        <md-whiteframe class="md-whiteframe-24dp" flex>
            <md-content flex  style="height: 600px;">
                <md-list>
                    <md-list-item class="md-3-line right-list" ng-repeat="item in vm.quarries">
                        <div class="md-list-item-text right-list-item" layout="column">
                            <h3>{{ item.quarryName }}</h3>
                            <h4>{{ item.colours }}</h4>
                            <p>{{ item.location }}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-whiteframe>
    </div>
</div>

<script type="text/ng-template" id="quarry_dialog">
    <md-dialog aria-label="Quarry" class="dialog">
        <nt-dialog form="quarryForm" title="Quarry">
            <div layout="row">
                    <nt-input flex="33" form="quarryForm" label="Quarry Name" control-name="quarryName" ng-model="vm.model.quarryName" ng-required="true" em-maxlength="20"></nt-input>
                    <nt-input flex="33" form="quarryForm" label="Location" control-name="Location" ng-model="vm.model.location" ng-required="false" em-maxlength="100"></nt-input>
                    <nt-select flex="33" form="quarryForm" label="Colour" control-name="colourId" ng-model="vm.model.colourIds[0]" opt-list="service.colours" opt-value="materialColourId" opt-text="colourName" ng-required="true"></nt-select>
            </div>
        </nt-dialog>
    </md-dialog>
</script>