<nt-toolbar header="Stock at Yard"></nt-toolbar>
<md-content layout-padding>
    <form name="stockForm" novalidate>
        <div layout="row">
            <div flex="25">
                <nt-select form="stockForm" label="Yard" control-name="yard" ng-model="vm.yardId" opt-list="vm.yards" opt-value="yardId" opt-text="yardName" ng-required="true"></nt-select>
            </div>
            <div flex="10" layout-align="center">
                <nt-button type="command-bar" css-class="content-button" icon="update" text="Get Stock" ng-click="vm.getStock(stockForm)" form="stockForm"></nt-button>
            </div>
        </div>
    </form>
    <div class="view-error">{{vm.noStockMessage}}</div>
</md-content>
<nt-grid grid="vm.grid"></nt-grid>

<script type="text/ng-template" id="stockyard_dialog">
    <md-dialog aria-label="Material" class="dialog">
        <nt-dialog form="stockyardForm" header="Material">
            <div layout="row">
                <nt-input flex="20" form="stockyardForm" label="Block Number" control-name="blockNumber" ng-model="vm.model.blockNumber" ng-required="true" em-maxlength="20"></nt-input>
                <nt-select flex="25" form="stockyardForm" label="Quarry" control-name="quarry" ng-model="vm.model.quarryId" opt-list="vm.viewModel.quarry" ng-required="true"></nt-select>
                <nt-select flex="25" form="stockyardForm" label="Product Type" control-name="productType" ng-model="vm.model.productTypeId" opt-list="vm.viewModel.productType" opt-value="productTypeId" opt-text="productTypeName" ng-required="true"></nt-select>
                <nt-select flex="30" form="stockyardForm" label="Colour" control-name="materialColour" ng-model="vm.model.materialColourId" opt-list="vm.viewModel.materialColour" ng-required="true"></nt-select>
            </div>
            <div layout="row">
                <nt-input flex="15" form="stockyardForm" type="number" label="Length" control-name="length" ng-model="vm.model.length" ng-required="true"></nt-input>
                <nt-input flex="15" form="stockyardForm" type="number" label="Width" control-name="width" ng-model="vm.model.width" ng-required="true"></nt-input>
                <nt-input flex="15" form="stockyardForm" type="number" label="Height" control-name="height" ng-model="vm.model.height" ng-required="true"></nt-input>
                <nt-input flex="15" form="stockyardForm" type="number" label="Weight" control-name="weight" ng-model="vm.model.weight" ng-required="true"></nt-input>
                <nt-input flex="30" form="stockyardForm" type="date" label="Date" control-name="materialDate" ng-model="vm.model.materialDate" ng-required="true"></nt-input>
            </div>
        </nt-dialog>
    </md-dialog>
</script>