<nt-toolbar header="Textures">
    <nt-button type="command-bar" icon="add" tool-tip="Add Texture" text="Add" ng-click="$ctrl.addTexture($event, $ctrl)" claim="Quarry:TextureAdd"></nt-button>
</nt-toolbar>
<nt-grid class="grid-content" grid="$ctrl.grid"></nt-grid>

<script type="text/ng-template" id="texture_dialog">
    <md-dialog aria-label="Texture" class="dialog">
        <nt-dialog form="textureForm" header="Texture">
            <div layout="row">
                <nt-input flex="50" form="textureForm" label="Texture Name" control-name="textureName" ng-model="vm.model.textureName" ng-required="true" em-maxlength="20"></nt-input>
            </div>
        </nt-dialog>
    </md-dialog>
</script>
