@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

<html ng-app="megamine">
<head>
    <meta name="viewport" content="width=device-width" />
    <base href="/" target="_blank">
    <title>Mega Mine</title>
    <environment names="Production">
        <link href="css/app.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Development,Staging">
        <link href="content/ui-grid/ui-grid.css" rel="stylesheet" />
        <link href="content/angular-material.css" rel="stylesheet" />

        <link href="content/toastr.css" rel="stylesheet" />

        <link href="content/app.css" rel="stylesheet" />
        <link href="content/icons.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <div ng-include="'app/home/index.html'"></div>

    <script>
        window.virtualDirectory = "";
        window.environmentName = '@ViewBag.EnvironmentName';
    </script>

    <environment names="Production">

        <script src="js/scripts.min.js" asp-append-version="true"></script>
        <script src="js/app.min.js" asp-append-version="true"></script>
    </environment>
    <environment names="Development,Staging">
        <script src="scripts/jquery.js"></script>

        <script src="scripts/angular/angular.js"></script>
        <script src="scripts/angular/angular-messages.js"></script>
        <script src="scripts/angular/angular-animate.js"></script>
        <script src="scripts/angular/angular-aria.js"></script>
        <script src="scripts/angular/angular-material.min.js"></script>
        <script src="scripts/angular/angular-ui-router.min.js"></script>

        <script src="scripts/ui-grid.min.js"></script>
        <script src="scripts/moment.min.js"></script>
        <script src="scripts/toastr.min.js"></script>

        <script src='scripts/pdfmake/pdfmake.min.js'></script>
        <script src='scripts/pdfmake/vfs_fonts.js'></script>
        <!-- inject:js -->
        
              <script src="app/app.js"></script>
        
              <script src="app/appConfig.js"></script>
        
              <script src="app/account/accountService.js"></script>
        
              <script src="app/account/changePasswordDialog.js"></script>
        
              <script src="app/account/login.js"></script>
        
              <script src="app/administration/administrationService.js"></script>
        
              <script src="app/dashboard/dashboard.js"></script>
        
              <script src="app/dashboard/dashboardService.js"></script>
        
              <script src="app/fleet/driver.js"></script>
        
              <script src="app/fleet/fleetUtility.js"></script>
        
              <script src="app/fleet/manufacturer.js"></script>
        
              <script src="app/fleet/manufacturerDialog.js"></script>
        
              <script src="app/fleet/manufacturerList.js"></script>
        
              <script src="app/fleet/servicereport.js"></script>
        
              <script src="app/fleet/sparePart.js"></script>
        
              <script src="app/fleet/sparePartDialog.js"></script>
        
              <script src="app/fleet/sparePartList.js"></script>
        
              <script src="app/fleet/vehicle.js"></script>
        
              <script src="app/fleet/vehicleDialog.js"></script>
        
              <script src="app/fleet/vehicleDriver.js"></script>
        
              <script src="app/fleet/vehicleFuel.js"></script>
        
              <script src="app/fleet/vehicleList.js"></script>
        
              <script src="app/fleet/vehicleService.js"></script>
        
              <script src="app/fleet/vehicleServiceRecord.js"></script>
        
              <script src="app/fleet/vehicleType.js"></script>
        
              <script src="app/fleet/vehicletrip.js"></script>
        
              <script src="app/home/index.js"></script>
        
              <script src="app/plant/blade.js"></script>
        
              <script src="app/plant/dressing.js"></script>
        
              <script src="app/plant/machine.js"></script>
        
              <script src="app/plant/operator.js"></script>
        
              <script src="app/plant/plantRoute.js"></script>
        
              <script src="app/plant/plantService.js"></script>
        
              <script src="app/quarry/material.js"></script>
        
              <script src="app/quarry/materialColour.js"></script>
        
              <script src="app/quarry/materialmovement.js"></script>
        
              <script src="app/quarry/productSummary.js"></script>
        
              <script src="app/quarry/productType.js"></script>
        
              <script src="app/quarry/quarry.js"></script>
        
              <script src="app/quarry/quarryService.js"></script>
        
              <script src="app/quarry/quarrySummary.js"></script>
        
              <script src="app/quarry/quarryUtility.js"></script>
        
              <script src="app/quarry/stockyard.js"></script>
        
              <script src="app/quarry/yard.js"></script>
        
              <script src="app/routes/appRoute.js"></script>
        
              <script src="app/routes/fleetRoute.js"></script>
        
              <script src="app/routes/quarryRoute.js"></script>
        
              <script src="app/shared/apiInterceptor.js"></script>
        
              <script src="app/shared/constants.js"></script>
        
              <script src="app/shared/dialogService.js"></script>
        
              <script src="app/shared/dialogUtility.js"></script>
        
              <script src="app/shared/gridUtility.js"></script>
        
              <script src="app/shared/message.js"></script>
        
              <script src="app/shared/navigation.js"></script>
        
              <script src="app/shared/profile.js"></script>
        
              <script src="app/shared/session.js"></script>
        
              <script src="app/shared/template.js"></script>
        
              <script src="app/shared/utility.js"></script>
        
              <script src="app/shared/directives/ntButton.js"></script>
        
              <script src="app/shared/directives/ntDialog.js"></script>
        
              <script src="app/shared/directives/ntGrid.js"></script>
        
              <script src="app/shared/directives/ntInput.js"></script>
        
              <script src="app/shared/directives/ntListToolbar.js"></script>
        
              <script src="app/shared/directives/ntMultiSelect.js"></script>
        
              <script src="app/shared/directives/ntSelect.js"></script>
        
              <script src="app/shared/directives/ntToolbar.js"></script>
        
              <script src="app/shared/directives/ntToolbarButton.js"></script>
        
              <!-- endinject -->
    </environment>
</body>
</html>

