@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html ng-app="megamine">
<head>
    <meta name="viewport" content="width=device-width" />
    <base href="/" target="_blank">
    <title>Mega Mine</title>
    <environment names="Production">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="css/app.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Development,Staging">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="content/ui-grid/ui-grid.css" rel="stylesheet" />
        <link href="content/angular-material.css" rel="stylesheet" />
        <link href="content/charting/nv.d3.css" rel="stylesheet" />
        <link href="content/charting/angular-gridster.min.css" rel="stylesheet" />
        <link href="content/toastr.css" rel="stylesheet" />

        <link href="content/app.css" rel="stylesheet" />
        <link href="content/icons.css" rel="stylesheet" />
        <link href="content/app/layout.css" rel="stylesheet" />
        <link href="content/app/grid.css" rel="stylesheet" />
        <link href="content/app/dialog.css" rel="stylesheet" />
        <link href="content/app/loading.css" rel="stylesheet" />
        <link href="content/app/widget.css" rel="stylesheet" />
        <link href="content/app/chart.css" rel="stylesheet" />
        <link href="content/app/mdOverrides.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <div ng-include="'app/home/index.html'"></div>

    <script>
        window.virtualDirectory = "";
        window.environmentName = '@ViewBag.EnvironmentName';

        // temporary work around for emit metadata and modules
        var MegaMine = {
            Account: {
                Models: {}
            },
            Dashboard: {
                Models: {}
            },
            Annotations: {},
            Fleet: {
                Models: {}
            },
            Home: {},
            Plant: {
                Models: {}
            },
            Quarry: {
                Models: {}
            },
            Shared: {
                Dialog: {
                    Models: {}
                },
                Directives: {},
                Models: {}
            },
            Widget: {
                Models: {}
            }   
        };
    </script>

    <environment names="Production">

        <script src="js/scripts.min.js" asp-append-version="true"></script>
        <script src="js/app.min.js" asp-append-version="true"></script>
    </environment>
    <environment names="Development,Staging">
        <script src="scripts/jquery.js"></script>

        <script src="scripts/angular/angular.js"></script>
        <script src="scripts/angular/angular-messages.js"></script>
        <script src="scripts/angular/angular-animate.js"></script>
        <script src="scripts/angular/angular-aria.js"></script>
        <script src="scripts/angular/angular-material.min.js"></script>
        <script src="scripts/angular/angular-ui-router.min.js"></script>

        <script src="scripts/charting/d3.js"></script>
        <script src="scripts/charting/nv.d3.js"></script>
        <script src="scripts/charting/angular-nvd3.js"></script>
        <script src="scripts/charting/angular-gridster.js"></script>


        <script src="scripts/ui-grid.min.js"></script>
        <script src="scripts/moment.min.js"></script>
        <script src="scripts/toastr.min.js"></script>

        <script src='scripts/pdfmake/pdfmake.min.js'></script>
        <script src='scripts/pdfmake/vfs_fonts.js'></script>

        @Html.Partial("AppJsReferences.cshtml")
    </environment>
</body>
</html>

