<nt-list-toolbar vm="vm" title="Drivers" add-text="Driver" add-button-click="vm.addDriver($event)" claim-module="Fleet" claim="DriverAdd"></nt-list-toolbar>

<script type="text/ng-template" id="driver_dialog">
    <md-dialog aria-label="Driver" class="dialog">
        <nt-dialog form="driverForm" title="Driver">
            <div layout="row">
                <em-input flex="30" form="driverForm" label="Name" control-name="name" ng-model="vm.model.driverName" ng-required="true" em-maxlength="40"></em-input>
                <em-input flex="70" form="driverForm" label="Contact" control-name="contact" ng-model="vm.model.contact" ng-required="false" em-maxlength="100"></em-input>
            </div>
        </nt-dialog>
    </md-dialog>
</script>