<md-dialog aria-label="Manufacturer" class="dialog">
    <div>This is happening</div>
    <nt-dialog form="manufacturerForm" title="Manufacturer">
        <div layout="row">
            <div flex="30">
                <em-input form="manufacturerForm" label="Name" control-name="name" ng-model="vm.model.name" ng-required="true" em-maxlength="20"></em-input>
            </div>
            <div flex="70">
                <em-input form="manufacturerForm" label="Description" control-name="description" ng-model="vm.model.description" em-maxlength="100" ng-required="false"></em-input>
            </div>
        </div>
    </nt-dialog>
</md-dialog>
