<nt-toolbar title="Service Report" class="title">
    <md-button class="md-raised md-primary" aria-label="Show" ng-click="vm.getReport($event)">
        <md-icon class="icon-button" md-svg-icon="content/images/icons/common/add.svg"></md-icon>Show Service Report
    </md-button>
</nt-toolbar>

<md-content layout-padding>
    <div>

        <div layout="row">
            <div flex="20">
                <em-select  label="VehicleNumber" control-name="VehicleNumber" ng-model="vm.model.vehicleNumber" opt-list="model.vehicleList" ng-required="true"></em-select>
            </div>
            <div flex="35">
                <em-input label="StartDate" control-name="StartDate" ng-model="vm.model.startDate" type="date" ng-disabled="false"></em-input>
            </div>
            <div flex="35">
                <em-input label="EndDate" control-name="EndDate" ng-model="vm.model.endDate" type="date" ng-disabled="false"></em-input>
            </div>
            
        </div>
        <div layout="row">
            <div flex>
                <md-content layout-padding>
                    <div ui-grid="vm.gridOptions"  ng-style="{'height' : vm.gridHeight }"  ui-grid-resize-columns ui-grid-auto-resize class="main-grid"></div>
                </md-content>
            </div>
        </div>

    </div>
</md-content>

