<nt-toolbar-button title="Vehicle Details" button-text="Edit Vehicle" button-icon="edit" claim-module="Fleet" claim="VehicleEdit" ng-click="vm.viewVehicle"></nt-toolbar-button>

<md-content layout-padding>
    <div layout="row">
        <em-input flex="20" label="Registration #" control-name="registrationNumber" ng-model="vm.model.registrationNumber" ng-disabled="true"></em-input>
        <em-input flex="20" label="Vehicle Type" control-name="vehicleType" ng-model="vm.model.vehicleType" ng-disabled="true"></em-input>
        <em-input flex="20" label="Manufacturer" control-name="manufacturer" ng-model="vm.model.manufacturer" ng-disabled="true"></em-input>
        <em-input flex="20" label="Model" control-name="vehicleModel" ng-model="vm.model.vehicleModel" ng-disabled="true"></em-input>
    </div>
    <div layout="row">
        <em-input flex="20" type="date" label="Last Service Date" control-name="serviceDate" ng-model="vm.model.serviceDate" ng-disabled="true"></em-input>
        <em-input flex="20" label="Service Cost" control-name="serviceCost" ng-model="vm.model.serviceCost" ng-disabled="true"></em-input>
        <em-input flex="20" label="Fuel Average" control-name="fuelAverage" ng-model="vm.model.fuelAverage" ng-disabled="true"></em-input>
        <em-input flex="20" label="Driver" control-name="driver" ng-model="vm.model.driver" ng-disabled="true"></em-input>
    </div>
    <div layout="row">
        <ul flex="20" id="left-menu" class="left-menu menu" kendo-menu k-data-source="vm.menuItems" k-select="vm.menuSelect"></ul>
        <div flex ui-view></div>
    </div>
</md-content>

