<em-toolbar title="Vehicle Details" class="title">
    <em-button class="md-raised md-primary" aria-label="Edit" ng-click="vm.viewVehicle($event)" module="Fleet" claim="VehicleEdit">
        <md-icon class="icon-button" md-svg-icon="content/images/icons/edit.svg"></md-icon>Edit Vehicle
    </em-button>
</em-toolbar>
<div>
    <md-content layout-padding>
        <div layout="row">
            <div flex="20">
                <em-input label="Registration #" control-name="registrationNumber" ng-model="vm.model.registrationNumber" ng-disabled="true"></em-input>
            </div>
            <div flex="20">
                <em-input label="Vehicle Type" control-name="vehicleType" ng-model="vm.model.vehicleType" ng-disabled="true"></em-input>
            </div>
            <div flex="20">
                <em-input label="Manufacturer" control-name="manufacturer" ng-model="vm.model.manufacturer" ng-disabled="true"></em-input>
            </div>
            <div flex="20">
                <em-input label="Model" control-name="vehicleModel" ng-model="vm.model.vehicleModel" ng-disabled="true"></em-input>
            </div>
        </div>
        <div layout="row">
            <div flex="20">
                <em-input type="date" label="Last Service Date" control-name="serviceDate" ng-model="vm.model.serviceDate" ng-disabled="true"></em-input>
            </div>
            <div flex="20">
                <em-input label="Service Cost" control-name="serviceCost" ng-model="vm.model.serviceCost" ng-disabled="true"></em-input>
            </div>
            <div flex="20">
                <em-input label="Fuel Average" control-name="fuelAverage" ng-model="vm.model.fuelAverage" ng-disabled="true"></em-input>
            </div>
            <div flex="20">
                <em-input label="Driver" control-name="driver" ng-model="vm.model.driver" ng-disabled="true"></em-input>
            </div>
        </div>
        <div layout="row">
            <div flex="20">
                <em-input  label="Fuel Start Odometer" control-name="fuelStartOdometer" ng-model="vm.model.fuelStartOdometer" ng-disabled="true"></em-input>
            </div>
            <div flex="20">
                <em-input label="Fuel End Odometer" control-name="fuelEndOdometer" ng-model="vm.model.fuelEndOdometer" ng-disabled="true"></em-input>
            </div>
            <div flex="20">
                <em-input label="Fuel Quantity" control-name="fuelQuantity" ng-model="vm.model.fuelQuantity" ng-disabled="true"></em-input>
            </div>
            <md-button class="md-raised md-primary" aria-label="Reset" ng-click="vm.resetFuel($event)">
                <md-icon class="icon-button" ></md-icon>ResetFuel
            </md-button>
            
        </div>

        <div layout="row">
            <ul flex="20" id="left-menu" class="left-menu menu" kendo-menu k-data-source="vm.menuItems" k-select="vm.menuSelect"></ul>
            <div flex ui-view></div>
        </div>
    </md-content>
</div>

