<nt-list-toolbar vm="vm" title="Fuel History" toolbar-class="subtitle" grid-class="sub-grid">
    <nt-button ng-click="vm.resetFuel($event)" button-icon="edit" button-text="Reset Average" module="Fleet" claim="VehicleFuelReset"></nt-button>
    <nt-button ng-click="vm.addFuel($event)" button-icon="add" button-text="Add Fuel" module="Fleet" claim="VehicleFuelAdd"></nt-button>
</nt-list-toolbar>


<script type="text/ng-template" id="vehicle_fuel_dialog">
    <md-dialog aria-label="Fuel" class="dialog">
        <nt-dialog form="fuelForm" title="Fuel">
            <div class="dialog_error">{{vm.dialogError.message}}</div>
            <div layout="row">
                <nt-input flex="33" form="fuelForm" type="date" label="Fuel Date" control-name="fuelDate" ng-model="vm.model.fuelDate" ng-required="true"></nt-input>
                <nt-input flex="33" form="fuelForm" type="number" label="Quantity" control-name="quantity" ng-model="vm.model.quantity" ng-required="true"></nt-input>
                <nt-input flex="33" form="fuelForm" type="number" label="Odometer" control-name="odometer" ng-model="vm.model.odometer" ng-required="true"></nt-input>
            </div>
        </nt-dialog>
    </md-dialog>
</script>
