[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


html {
    height:100%;
    margin: 0;
}

body {
    background-color: #282d32;
	/*background-color: #656565;
	background-image: url(images/layout/background.gif);
	background-repeat: repeat;*/
	margin: 0 auto;
	padding: 0;
	font-family: 'Roboto', Verdana, Helvetica, sans-serif;
	font-size: 0.85em !important;
    height: 100%;
    overflow: hidden !important;
}

form {
    margin-bottom: 0;
}

h4{
    margin: 1em 0 0 0;
}

.main-content {
    min-height: 100%;
    height: 100%;
    background-color: rgba(67, 116, 167, 0.25);

    width: 100%;
    min-width: 1000px;
    display: table;
    margin: 0 auto;
}

.container {
    /*width: 100%;
    min-width: 1000px;
    display: table;
    margin: 0 auto;*/
}



div.left-menu {
	background-image: url(images/layout/menu_background.png);
	background-repeat: repeat;
}

div.left-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

div.left-menu li{
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px !important;
    border-bottom-color: rgb(77, 77, 77);
    text-transform: uppercase;
    height: 30px;
    cursor: default;
}

div.left-menu li.highlight{
    background-color: rgba(158,158,158,0.4);
}

div.left-menu a {
    display: -webkit-box;
    width: 100%;
	color: #DBB94F !important;
    padding: 0.3em 1.2em 0.3em 1.2em;
    line-height: 1.34em; 
    font-size: 13px;
    text-decoration: none;
}

div.left-menu a.md-button{
    min-height: 30px !important;
    height: 30px !important;
}

.content{
    margin-top: 6px;
}

.splash {
    width: 100%;
    height: 100%;
    text-align: center;
}

.splash-header{
    color: #FF8000;
}

.splash-main-header{
    color: #FF8000;
    font-size: 3em;
    padding-left: 10px;
    padding-bottom: 10px;
}

img.splash-loading{
    width: 100px;
}

label.label_header{
    font-size: 11px;
}

div.type-formula{
    padding: 1px;
}

div.type-formula label{
    display: inline-block;
    font-size: 15px;
    padding-left: 2px;
    position: relative;
    top: -2px;
    transform: matrix(0.75, 0, 0, 0.75, 0, 6);
    transform-origin: 0px 0px;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: none;
    transition-timing-function: ease;
}

div.type-formula input{
    width: 70px;
    order: 2;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    border-width: 0 0 1px 0;
    line-height: 26px;
    border-radius: 0;
}

div.type-formula input:focus {
    border-color: rgb(158, 158, 158) !important;
    border-width: 0 0 2px 0 !important;
    outline: none;
}

div.type-formula input:disabled{
    background-color: inherit;
}
div.type-formula select{
    order: 2;
    padding-top: 2px;
    padding-bottom: 6px;
    border-width: 0 0 1px 0;
    border-radius: 0;
}

.icon-button {
  height: 32px;
  width: 32px;
  color: rgba(0, 0, 0, 0.61) !important;
  margin-top: -5px; 
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.view-error{
    color: red;
}

.dialog_error{
    color: red;
    /*text-align: center;*/
    width: 95%;
    font-size: 0.85em;
}

.full-width{
    width: 100% !important;
}

/*em toolbar & buttons*/
nt-toolbar.title > md-toolbar{
    background-color: rgba(67, 116, 167, 0.25) !important;
    color: white;
    height: 46px;
}


nt-toolbar.subtitle > md-toolbar{
    background-color: rgb(238,238,238) !important;
}

nt-toolbar.subtitle-table > md-toolbar{
    font-size: 1em;
}

nt-toolbar.dialog > md-toolbar{
    background-color: rgb(168,168,168);
}

nt-toolbar nt-old-button > button{
    background-color: rgb(77, 157, 140) !important;
}

nt-toolbar nt-old-button > button.delete{
    background-color: #971834 !important;
}

button{
    background-color: transparent !important;
}

.ntselect {
    width: 98%;
}

/*Material design overrides*/

nt-old-button[tabindex='0']:focus {
  outline: none; 
}

.md-button{
    /*height: 35px;
    margin: 0;
    padding: 2px 5px 0 0px !important;
    min-width: 32px;*/
}


/*.md-button.md-raised:not([disabled]) {
    box-shadow: 0 2px 5px 0 rgb(0, 0, 0);
}*/

md-list-item {
    display: block;
}
md-content{
    background-color: #eee;
}
md-content.md-default-theme {
  background-color: #e4e4e4;
}

md-toolbar{
      min-height: 46px; 
      z-index: 1;
}
.md-toolbar-tools {
    padding: 0 5px 0 4px;
}

md-input-container:not(.md-input-invalid).md-input-has-value label {
  font-size: 15px;
  color: black;
}

md-input-container .md-input[disabled], [disabled] md-input-container .md-input {
  color: black;
}

md-input-container > label.md-placeholder {
    top: -10px;
}

container data-ng-message, md-input-container x-ng-message, md-input-container [ng-message], md-input-container [data-ng-message], md-input-container [x-ng-message], md-input-container .md-char-counter {
  font-size: 11px;
  line-height: 15px;
  margin-top: -4px;
}

.layout-padding, .layout-padding > * {
    padding: 2px 4px 2px 2px !important;
}

md-input-container {
  margin: 12px 0 0 0;
  width: 100%;
}

md-input-container .md-errors-spacer{
    min-height: 0px;
}

.full-width > md-input-container{
    width: 100%;
}

md-progress-linear .md-dashed:before {
  background: radial-gradient(rgb(168,168,168) 0%, rgb(168,168,168) 16%, transparent 42%) !important;
}

md-progress-linear .md-bar1 {
  background-color: rgb(168,168,168) !important;
}

md-progress-linear .md-bar2 {
  background-color: rgb(208,208,208) !important;
}

md-progress-linear{
    margin-top: -2px;
}

/*Validations*/
md-input-container.md-input-invalid label{
    color: red;
}

md-select.ng-invalid.ng-dirty .md-select-value, md-select[disabled] .md-select-value{
    color: rgba(0,0,0,0.87) !important;
}

md-input-container.md-input-invalid .md-select-placeholder{
    color: red;
    border-bottom-color: red;
}


md-dialog.dialog{
    min-width: 600px;
    max-width: 95%;
    overflow: hidden;
    padding-bottom: 5px;
}
md-dialog md-dialog-content{
    padding: 0px;
}

.md-chips{
    padding: 0 0 0px 3px;
    font-size: 0.85em;
    height: 30px;
}
.md-chips .md-chip{
    height: 25px;
    line-height: 25px;
    margin: 2px 2px 0 0;
}
.md-chips .md-chip .md-chip-remove{
    height: 25px;
}

.md-autocomplete-suggestions li {
    font-size: 12px;
    line-height: 32px;
    height: 32px;
}

/*Material design overrides ends*/

/* UI Grid overrides*/
.ui-grid-header {
    height: 30px;
}

.ui-grid-row:hover {
    background-color: #d4d4d4;
}

.ui-grid-row:hover .ui-grid-cell{
    background-color: #d4d4d4 !important;
}

.ui-grid-top-panel {
    background: #daecf4;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #daecf4), color-stop(1, #fff));
    background: -ms-linear-gradient(bottom, #daecf4, #fff);
    background: -moz-linear-gradient(center bottom, #daecf4 0, #fff 100%);
    background: -o-linear-gradient(#fff, #daecf4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#daecf4', GradientType=0);
    -webkit-border-top-right-radius: -1px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: -1px;
    -moz-border-radius-topright: -1px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: -1px;
    border-top-right-radius: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: -1px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.ui-grid-header-cell{
    border-color: #94c0d2;
}

.ui-grid-cell{
    border-color: #94c0d2;
}

.ui-grid-row:nth-child(odd) .ui-grid-cell {
  background-color: #eaf4f9;
}
.ui-grid-row:nth-child(even) .ui-grid-cell {
  background-color: #ffffff;
}

.ui-grid-menu-button {
    margin-top: -3px;
    margin-right: -5px;
    height: 31px;
}

.ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid {
     overflow: auto; 
}

.ui-grid-menu {
    width: 250px;
}

/* UI Grid overrides Ends*/


/* UI-Router animation*/
/*.content[ui-view]{
 height: 100%; 
}

.ui-view-container {
  position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}*/
/* UI-Router animation ends*/

