/*common icons*/
.icon-menu{
    width: 20px;
    height: 20px;
    display: inline-block;
}

.top-bar-button-icon {
    color: white;
    font-size: 20px;
    margin-top: 11px;
}
.top-bar-button:hover > .top-bar-button-icon {
    color: white;
    font-size: 24px;
    margin-top: 8px;
}

.command-bar-button-icon {
    color: white !important;
    font-size: 18px;
    height: 10px;
}
.command-bar-button:hover > .command-bar-button-icon {
    font-size: 20px;
}


/*Fleet Icons*/
.icon-fleet {
    background: url('images/icons/fleet/fleet.svg') no-repeat;
    background-size: cover;
}

.icon-spareparts {
    background: url('images/icons/fleet/spareparts.svg') no-repeat;
    background-size: cover;
}

.icon-vehiclelist {
    background: url('images/icons/fleet/vehiclelist.svg') no-repeat;
    background-size: cover;
}

.icon-vehicletypes {
    background: url('images/icons/fleet/vehicletypes.svg') no-repeat;
    background-size: cover;
}

.icon-report {
    background: url('images/icons/fleet/report.svg') no-repeat;
    background-size: cover;
}

.icon-fuel {
    background: url('images/icons/fleet/fuel.svg') no-repeat;
    background-size: cover;
}

.icon-driver {
    background: url('images/icons/fleet/driver.svg') no-repeat;
    background-size: cover;
}

.icon-trip {
    background: url('images/icons/fleet/trip.svg') no-repeat;
    background-size: cover;
}

.icon-service {
    background: url('images/icons/fleet/service.svg') no-repeat;
    background-size: cover;
}

.icon-manufacturer {
    background: url('images/icons/fleet/manufacturer.svg') no-repeat;
    background-size: cover;
}

/*Quarry Icons*/
.icon-quarry {
    background: url('images/icons/quarry/quarry.svg') no-repeat;
    background-size: cover;
}

.icon-quarries {
    background: url('images/icons/quarry/quarries.svg') no-repeat;
    background-size: cover;
}

.icon-stockatyard {
    background: url('images/icons/quarry/stockatyard.svg') no-repeat;
    background-size: cover;
}

.icon-addmaterial {
    background: url('images/icons/quarry/addmaterial.svg') no-repeat;
    background-size: cover;
}

.icon-yards {
    background: url('images/icons/quarry/yards.svg') no-repeat;
    background-size: cover;
}

.icon-stone {
    background: url('images/icons/quarry/stone.svg') no-repeat;
    background-size: cover;
}

.icon-movematerial {
    background: url('images/icons/quarry/movematerial.svg') no-repeat;
    background-size: cover;
}

.icon-colour {
    background: url('images/icons/quarry/colour.svg') no-repeat;
    background-size: cover;
}

.icon-product-summary {
    background: url('images/icons/quarry/product-summary.svg') no-repeat;
    background-size: cover;
}


