<nt-list-toolbar vm="vm" title="Product Types" add-text="Product Type" claim-module="Quarry" claim="ProductTypeAdd" ng-click="vm.addProductType"></nt-list-toolbar>

<script type="text/ng-template" id="product_type_dialog">
    <md-dialog aria-label="Product Type" class="dialog">
        <nt-dialog form="productTypeForm" title="Product Type">
            <div layout="row">
                <em-input flex="30" form="productTypeForm" label="Product Type" control-name="productTypeName" ng-model="vm.model.productTypeName" ng-required="true" em-maxlength="20"></em-input>
                <em-input flex="70" form="productTypeForm" label="Description" control-name="productTypeDescription" ng-model="vm.model.productTypeDescription" ng-required="false" em-maxlength="100"></em-input>
            </div>
            <div layout="row">
                <div flex="35">
                    {{vm.model.formulaJson[0].field}}
                    <select ng-model="vm.model.formulaJson[0].operand">
                        <option value="<"><</option>
                        <option value="<="><=</option>
                        <option value="=">=</option>
                        <option value=">">></option>
                        <option value=">=">>=</option>
                    </select>
                    <input type="number" ng-model="vm.model.formulaJson[0].value" style="width:70px" />
                </div>
                <div flex="10">And</div>
                <div flex="35">
                    {{vm.model.formulaJson[1].field}}
                    <select ng-model="vm.model.formulaJson[1].operand">
                        <option value="<"><</option>
                        <option value="<="><=</option>
                        <option value="=">=</option>
                        <option value=">">></option>
                        <option value=">=">>=</option>
                    </select>
                    <input type="number" ng-model="vm.model.formulaJson[1].value" style="width:70px" />
                </div>
                <em-input flex="20" form="productTypeForm" type="number" label="Formula Order" control-name="formulaOrder" ng-model="vm.model.formulaOrder" error-messages="vm.model.orderErrorMessages"></em-input>
            </div>
        </nt-dialog>
    </md-dialog>
</script>