<em-toolbar title="Product Summary" class="title"></em-toolbar>
<md-content layout-padding>

    <nt-multi-select ng-model="vm.selectedQuarries" nt-items="vm.quarries"></nt-multi-select>

    <form name="summaryForm" novalidate>
        <div layout="row">
            <em-input flex="15" form="summaryForm" type="date" label="Start Date" control-name="startDate" ng-model="vm.searchParams.startDate"></em-input>
            <em-input flex="15" form="summaryForm" type="date" label="End Date" control-name="endDate" ng-model="vm.searchParams.endDate"></em-input>
            <div flex="10" layout-align="center">
                <nt-button ng-click="vm.getSummary(summaryForm)" button-icon="save" button-text="Get Summary" ng-disabled="summaryForm.$invalid && summaryForm.$submitted"></nt-button>
            </div>
        </div>
    </form>
</md-content>
<nt-grid vm="vm"></nt-grid>
<script type="text/ng-template" id="product_summary_dialog">
    <md-dialog aria-label="Product Type Summary" class="dialog full-width">
        <nt-dialog form="summaryForm" title="{{vm.summaryModel.productTypeName}}({{vm.summaryModel.quarryName}})">
            <div layout="row">
                <nt-grid vm="vm" class="full-width" grid-class="dialog-grid"></nt-grid>
            </div>
        </nt-dialog>
    </md-dialog>
</script>