<em-toolbar title="Quarries" class="title">
    <em-button class="md-raised md-primary" aria-label="Add" ng-click="vm.addQuarry($event)" module="Quarry" claim="QuarryAdd">
        <md-icon class="icon-button" md-svg-icon="content/images/icons/add.svg"></md-icon>Add Quarry
    </em-button>
</em-toolbar>
<md-content layout-padding>
    <div ui-grid="vm.gridOptions" ui-grid-resize-columns ui-grid-auto-resize ng-style="{'height' : vm.gridHeight }" class="main-grid"></div>
</md-content>

<script type="text/ng-template" id="quarry_dialog.html">
    <md-dialog aria-label="Quarry" class="dialog">
        <nt-dialog form="quarryForm" title="Quarry">
            <div layout="row">
                <div flex="30">
                    <em-input form="quarryForm" label="Quarry Name" control-name="quarryName" ng-model="model.quarryName" ng-required="true" em-maxlength="20"></em-input>
                </div>
                <div flex="30">
                    <em-input form="quarryForm" label="location" control-name="Location" ng-model="model.location" ng-required="false" em-maxlength="100"></em-input>
                </div>
                <div flex class="text-left">
                    <em-select form="quarryForm" label="Colour" control-name="colourId" ng-model="model.colourIds[0]" opt-list="service.colours" opt-value="materialColourId" opt-text="colourName" ng-required="true"></em-select>
                </div>
            </div>
        </nt-dialog>
    </md-dialog>
</script>