<nt-list-toolbar vm="vm" title="Quaries" add-text="Quarry" add-button-click="vm.addQuarry($event)" claim-module="Quarry" claim="QuarryAdd"></nt-list-toolbar>

<script type="text/ng-template" id="quarry_dialog">
    <md-dialog aria-label="Quarry" class="dialog">
        <nt-dialog form="quarryForm" title="Quarry">
            <div layout="row">
                    <em-input flex="33" form="quarryForm" label="Quarry Name" control-name="quarryName" ng-model="vm.model.quarryName" ng-required="true" em-maxlength="20"></em-input>
                    <em-input flex="33" form="quarryForm" label="Location" control-name="Location" ng-model="vm.model.location" ng-required="false" em-maxlength="100"></em-input>
                    <em-select flex="33" form="quarryForm" label="Colour" control-name="colourId" ng-model="vm.model.colourIds[0]" opt-list="service.colours" opt-value="materialColourId" opt-text="colourName" ng-required="true"></em-select>
            </div>
        </nt-dialog>
    </md-dialog>
</script>