<em-toolbar title="Stock at Yard" class="title">
</em-toolbar>
<md-content layout-padding>
    <form name="stockForm" novalidate>
        <div layout="row">
            <div flex="25">
                <em-select form="stockForm" label="Yard" control-name="yard" ng-model="vm.yardId" opt-list="vm.yards" opt-value="yardId" opt-text="yardName" ng-required="true"></em-select>
            </div>
            <div flex="10" layout-align="center">
                <nt-button ng-click="vm.getStock(stockForm)" button-icon="save" button-text="Get Stock" ng-disabled="stockForm.$invalid && stockForm.$submitted"></nt-button>
            </div>
        </div>
    </form>
</md-content>
<nt-grid vm="vm"></nt-grid>

<script type="text/ng-template" id="stockyard_dialog">
    <md-dialog aria-label="Material" class="dialog">
        <nt-dialog form="stockyardForm" title="Material">
            <div layout="row">
                <em-select flex="30" form="stockyardForm" label="Quarry" control-name="quarry" ng-model="vm.model.quarryId" opt-list="vm.viewModel.quarry" ng-required="true"></em-select>
                <em-select flex="25" form="stockyardForm" label="Product Type" control-name="productType" ng-model="vm.model.productTypeId" opt-list="vm.viewModel.productType" ng-required="true"></em-select>
                <em-select flex="30" form="stockyardForm" label="Colour" control-name="materialColour" ng-model="vm.model.materialColourId" opt-list="vm.viewModel.materialColour" ng-required="true"></em-select>
            </div>
            <div layout="row">
                <em-input flex="15" form="stockyardForm" type="number" label="Length" control-name="length" ng-model="vm.model.length" ng-required="true"></em-input>
                <em-input flex="15" form="stockyardForm" type="number" label="Width" control-name="width" ng-model="vm.model.width" ng-required="true"></em-input>
                <em-input flex="15" form="stockyardForm" type="number" label="Height" control-name="height" ng-model="vm.model.height" ng-required="true"></em-input>
                <em-input flex="15" form="stockyardForm" type="number" label="Weight" control-name="weight" ng-model="vm.model.weight" ng-required="true"></em-input>
                <em-input flex="30" form="stockyardForm" type="date" label="Date" control-name="materialDate" ng-model="vm.model.materialDate" ng-required="true"></em-input>
            </div>
        </nt-dialog>
    </md-dialog>
</script>