<em-toolbar title="Yards" class="title">
    <em-button class="md-raised md-primary" aria-label="Add" ng-click="vm.addYard($event)" module="Quarry" claim="YardAdd">
        <md-icon class="icon-button" md-svg-icon="content/images/icons/add.svg"></md-icon>Add Yard
    </em-button>
</em-toolbar>
<md-content layout-padding>
    <div ui-grid="vm.gridOptions" ui-grid-resize-columns ui-grid-auto-resize ng-style="{'height' : vm.gridHeight }" class="main-grid"></div>
</md-content>

<script type="text/ng-template" id="yard_dialog">
    <md-dialog aria-label="Yard" class="dialog">
        <nt-dialog form="yardForm" title="Yard">
            <div layout="row">
                <div flex="30">
                    <em-input form="yardForm" label="Name" control-name="yardName" ng-model="vm.model.yardName" ng-required="true" em-maxlength="20"></em-input>
                </div>
                <div flex="70">
                    <em-input form="yardForm" label="Location" control-name="location" ng-model="vm.model.location" ng-required="false" em-maxlength="100"></em-input>
                </div>
            </div>
        </nt-dialog>
    </md-dialog>
</script>