<nt-list-toolbar vm="vm" title="Yards" add-text="Yard" add-button-click="vm.addYard($event)" claim-module="Quarry" claim="YardAdd"></nt-list-toolbar>

<script type="text/ng-template" id="yard_dialog">
    <md-dialog aria-label="Yard" class="dialog">
        <nt-dialog form="yardForm" title="Yard">
            <div layout="row">
                <nt-input flex="30" form="yardForm" label="Name" control-name="yardName" ng-model="vm.model.yardName" ng-required="true" em-maxlength="20"></nt-input>
                <nt-input flex="70" form="yardForm" label="Location" control-name="location" ng-model="vm.model.location" ng-required="false" em-maxlength="100"></nt-input>
            </div>
        </nt-dialog>
    </md-dialog>
</script>