<md-dialog aria-label="Manufacturer" class="dialog">
    <nt-dialog form="manufacturerForm" header="Manufacturer">
        <div layout="row">
            <nt-input flex="30" form="manufacturerForm" label="Name" control-name="name" ng-model="vm.model.name" ng-required="true" em-maxlength="20"></nt-input>
            <nt-input flex="70" form="manufacturerForm" label="Description" control-name="description" ng-model="vm.model.description" em-maxlength="100" ng-required="false"></nt-input>
        </div>
    </nt-dialog>
</md-dialog>
