<md-dialog aria-label="Spare Part" class="dialog">
    <nt-dialog form="sparePartForm" title="Spare Part">
        <div layout="row">
            <nt-input flex="30" form="sparePartForm" label="Part Name" control-name="name" ng-model="vm.model.name" ng-required="true" em-maxlength="20"></nt-input>
            <nt-input flex="70" form="sparePartForm" label="Description" control-name="description" ng-model="vm.model.description" ng-required="false" em-maxlength="100"></nt-input>
        </div>
        <div layout="row">
            <nt-select flex="30" form="sparePartForm" label="Type" control-name="vehicleType" ng-model="vm.model.vehicleTypeId" opt-list="vm.model.vehicleTypeList" ng-required="false"></nt-select>
            <nt-select flex="20" form="sparePartForm" label="Manufacturer" control-name="manufacturer" ng-model="vm.model.vehicleManufacturerId" opt-list="vm.model.manufacturerList" ng-required="false"></nt-select>
            <nt-select flex="20" form="sparePartForm" label="Model" control-name="vehicleModel" ng-model="vm.model.vehicleModelId" opt-list="vm.model.modelList" ng-required="false"></nt-select>
        </div>
    </nt-dialog>
</md-dialog>
