<nt-toolbar class="sub-menu-header" header="Driver History">
    <nt-button type="command-bar" icon-css="user-plus" tool-tip="Assign Driver" text="Assign" ng-click="vm.assignDriver($event)" claim="Fleet:VehicleDriverAssign" ng-show="vm.assignmentMode === vm.assignmentEnum.assign"></nt-button>
    <nt-button type="command-bar" icon-css="user-times" tool-tip="Un Assign Driver" text="Un Assign" ng-click="vm.unAssignDriver($event)" claim="Fleet:VehicleDriverAssign" ng-show="vm.assignmentMode === vm.assignmentEnum.unassign"></nt-button>
    <nt-button type="command-bar" icon="add" tool-tip="Add Driver" text="Add" ng-click="vm.addDriver($event)" claim="Fleet:VehicleDriverAdd"></nt-button>
</nt-toolbar>
<nt-grid grid="vm.grid"></nt-grid>

<script type="text/ng-template" id="vehicle_driver_dialog">
    <md-dialog aria-label="Driver" class="dialog">
        <nt-dialog form="driverForm" header="Driver" save-text="{{vm.dataOptions.saveText}}">
            <div layout="row">
                <nt-select flex="50" form="driverForm" label="Driver" control-name="driverName" ng-model="vm.model.vehicleDriverId" opt-list="vm.service.driverListItems" ng-required="true" ng-disabled="{{ vm.dataOptions.assignmentMode === vm.dataOptions.assignmentEnum.unassign }}"></nt-select>
            </div>
            <div layout="row">
                <nt-input flex="45" form="driverForm" type="datetime-local" label="Start Time" control-name="assignmentStartDate" ng-model="vm.model.assignmentStartDate" ng-required="true" ng-disabled="{{ vm.dataOptions.assignmentMode === vm.dataOptions.assignmentEnum.unassign }}" ng-change="vm.validator.validateDates(driverForm)"></nt-input>
                <nt-input flex="45" form="driverForm" type="datetime-local" label="End Time" control-name="assignmentEndDate" ng-model="vm.model.assignmentEndDate" ng-required="{{vm.dataOptions.assignmentMode !== vm.dataOptions.assignmentEnum.assign}}" ng-hide="{{vm.dataOptions.assignmentMode === vm.dataOptions.assignmentEnum.assign}}" error-messages="vm.validator.errorMessages" ng-change="vm.validator.validateDates(driverForm)"></nt-input>
            </div>
        </nt-dialog>
    </md-dialog>
</script>
