<nt-list-toolbar vm="vm" title="Vehicle Types" button-text="Add Vehicle Type" button-click="vm.addVehicleType($event)" claim="Fleet:VehicleTypeAdd"></nt-list-toolbar>

<script type="text/ng-template" id="vehicle_type_dialog">
    <md-dialog aria-label="Vehicle Type" class="dialog">
        <nt-dialog form="vehicleTypeForm" title="Vehicle Type">
            <div layout="row">
                <nt-input flex="30" form="vehicleTypeForm" label="Vehicle Type" control-name="vehicleTypeName" ng-model="vm.model.vehicleTypeName" ng-required="true" em-maxlength="20"></nt-input>
                <nt-input flex="70" form="vehicleTypeForm" label="Description" control-name="vehicleTypeDescription" ng-model="vm.model.vehicleTypeDescription" ng-required="false" em-maxlength="100"></nt-input>
            </div>
        </nt-dialog>
    </md-dialog>
</script>