<nt-list-toolbar vm="vm" title="Driver History" toolbar-class="subtitle" grid-class="sub-grid">
    <nt-old-button ng-click="vm.assignDriver($event)" ng-show="vm.assignMode === vm.enum.assignMode.assign" button-icon="add" button-text="Assign Driver" claim="Fleet:VehicleDriverAssign"></nt-old-button>
    <nt-old-button ng-click="vm.unAssignDriver($event)" ng-show="vm.assignMode === vm.enum.assignMode.unassign" button-icon="add" button-text="Un Assign Driver" claim="Fleet:VehicleDriverAssign"></nt-old-button>
    <nt-old-button ng-click="vm.addDriver($event)" button-icon="add" button-text="Add Driver" claim="Fleet:VehicleDriverAdd"></nt-old-button>
</nt-list-toolbar>

<script type="text/ng-template" id="vehicle_driver_dialog">
    <md-dialog aria-label="Driver" class="dialog">
        <nt-dialog form="driverForm" title="Driver" save-text="{{vm.options.saveText}}">
            <div layout="row">
                <nt-select flex="50" form="driverForm" label="Driver" control-name="driverName" ng-model="vm.model.vehicleDriverId" opt-list="service.driverListItems" ng-required="true" ng-disabled="{{ vm.options.assignMode === vm.options.assignModeEnum.unassign }}"></nt-select>
            </div>
            <div layout="row">
                <nt-input flex="45" form="driverForm" type="datetime-local" label="Start Time" control-name="assignmentStartDate" ng-model="vm.model.assignmentStartDate" ng-required="true" ng-disabled="{{ vm.options.assignMode === vm.options.assignModeEnum.unassign }}" ng-change="vm.validator.validateDates(driverForm)"></nt-input>
                <nt-input flex="45" form="driverForm" type="datetime-local" label="End Time" control-name="assignmentEndDate" ng-model="vm.model.assignmentEndDate" ng-required="{{ vm.options.assignMode !== vm.options.assignModeEnum.assign }}" ng-hide="{{vm.options.assignMode === vm.options.assignModeEnum.assign}}"  error-messages="vm.validator.endDateMessages" ng-change="vm.validator.validateDates(driverForm)"></nt-input>
            </div>
        </nt-dialog>
    </md-dialog>
</script>
