<nt-toolbar header="Vehicle Details">
    <nt-button type="command-bar" icon="delete" tool-tip="Delete Vehicle" text="Delete" ng-click="vm.vehicleDelete($event)" claim="Fleet:VehicleDelete"></nt-button>
    <nt-button type="command-bar" icon="edit" tool-tip="Edit Vehicle" text="Edit" ng-click="vm.vehicleView($event)" claim="Fleet:VehicleEdit"></nt-button>
</nt-toolbar>

<md-content layout-padding>
    <div layout="row">
        <nt-input flex="20" label="Registration #" control-name="registrationNumber" ng-model="vm.model.registrationNumber" ng-disabled="true"></nt-input>
        <nt-input flex="20" label="Vehicle Type" control-name="vehicleType" ng-model="vm.model.vehicleType" ng-disabled="true"></nt-input>
        <nt-input flex="20" label="Manufacturer" control-name="manufacturer" ng-model="vm.model.manufacturer" ng-disabled="true"></nt-input>
        <nt-input flex="20" label="Model" control-name="vehicleModel" ng-model="vm.model.vehicleModel" ng-disabled="true"></nt-input>
    </div>
    <div layout="row">
        <nt-input flex="20" type="date" label="Last Service Date" control-name="serviceDate" ng-model="vm.model.serviceDate" ng-disabled="true"></nt-input>
        <nt-input flex="20" label="Service Cost" control-name="serviceCost" ng-model="vm.model.serviceCost" ng-disabled="true"></nt-input>
        <nt-input flex="20" label="Fuel Average" control-name="fuelAverage" ng-model="vm.model.fuelAverage" ng-disabled="true"></nt-input>
        <nt-input flex="20" label="Driver" control-name="driver" ng-model="vm.model.driver" ng-disabled="true"></nt-input>
    </div>
    <div layout="row">
        <div class="left-sub-menu">
            <ul class="left-sub-menu">
                <li class="{{menuItem.cssClass}}" ng-repeat="menuItem in vm.menuItems track by $index">
                    <md-button ng-href="{{menuItem.url}}" ng-click="vm.menuSelect(menuItem)">
                        <md-icon class="{{menuItem.iconCssClass}}"></md-icon> {{menuItem.text}}
                    </md-button>
                </li>
            </ul>
        </div>
        <div flex ui-view></div>
    </div>
</md-content>
