<div ng-controller="index as vm">
    <div class="top-bar" layout="row">
        <div class="top-bar-title has-hover">Prasanna Kumar</div>
        <div flex layout="row" ng-show="vm.profile.isAuthenticated">
            <div flex> </div>
            <div class="top-bar-menu breadcrumb" ng-hide="vm.navigation.breadcrumbs.length <= 1">
                <span ng-repeat="crumb in vm.navigation.breadcrumbs track by $index">
                    <a class="has-hover" href="{{crumb.url}}">{{crumb.title}}</a> 
                    <i class="fa fa-chevron-right" ng-hide="$last"></i>
                </span>
            </div>
            <md-button class="top-bar-menu has-hover top-bar-menu-button" ng-href="#" ng-click="vm.showChangePasswordDialog($event)">
                <md-tooltip>
                    Change Password
                </md-tooltip>
                <md-icon class="fa fa-key top-bar-menu-icon" aria-label="Change Password"></md-icon>
            </md-button>
            <md-button class="top-bar-menu has-hover top-bar-menu-button" ng-href="/logout">
                <md-tooltip>
                    Sign out
                </md-tooltip>
                <md-icon class="fa fa-sign-out top-bar-menu-icon" aria-label="Sign out"></md-icon>
            </md-button>
            <div class="avatar top-bar-menu has-hover" layout="row">
                <div>
                    <div class="avatar-name">{{vm.profile.fullName}}</div>
                    <div class="avatar-username">{{vm.profile.userName}}</div>
                </div>
                <img class="avatar-image" alt="" src="content/images/layout/avatar-small.png">
            </div>
        </div>
    </div>
    <div layout="row">
        <div class="left-bar">
            <div class="left-bar-company left-bar-item has-hover menu-hover">
                <nt-select label="Company" control-name="companyId" ng-model="vm.profile.companyId" opt-list="vm.profile.companies" opt-value="companyId" opt-text="companyName" ng-required="true" nt-change="vm.changeCompany()"></nt-select>
            </div>
            <div class="left-bar-item has-hover menu-hover">
                <a href="/">Dashboard</a>
            </div>
            <div class="left-bar-item" flex layout="row" ng-hide="vm.profile.menu.length === 0">
                <md-content flex>
                    <section ng-repeat="menu in vm.profile.menu">
                        <md-subheader class="md-primary">
                            {{menu.menuText}}
                        </md-subheader>
                        <!--<md-list>
                            <md-list-item ng-repeat="item in menu.items" ng-hide="item.groupMenuInd === true">
                                <md-button ng-href="{{item.url}}" ng-hide="item.groupMenuInd === true">
                                    <md-icon class="{{item.iconCss}}"></md-icon> {{item.menuText}}
                                </md-button>
                            </md-list-item>
                        </md-list>-->
                    </section>
                </md-content>
            </div>
            <ul class="accordion" nt-accordion>
                <li ng-repeat="menu in vm.profile.menu">
                    <h2>{{menu.menuText}}</h2>
                    <p>
                        Content 1
                    </p>
                </li>
            </ul>

            <!--<div>
                <ul class="accordion">
                    <li ng-repeat="menu in vm.profile.menu">
                        <h2>{{menu.menuText}}</h2>
                        <div>
                            <ul>
                                <li  ng-repeat="item in menu.items" ng-hide="item.groupMenuInd === true">
                                    {{item.menuText}}
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>-->
        </div>
        <div flex>
            <div flex layout="row" class="container main-content ui-view-container">
                <md-progress-linear class="md-warn" md-mode="buffer" value="{{vm.startvalue}}" md-buffer-value="{{vm.buffervalue}}" ng-style="{'visibility': vm.navigation.isLoading ? 'visible' : 'hidden'}"></md-progress-linear>
                <div flex ui-view class="view-content">
                    <div id="splash" class="splash">
                        <br /><br />
                        <h2 class="splash-main-header">Welcome to Mega Mine</h2>
                        <h3 class="splash-header">Please wait ...</h3>
                        <br />
                        <img class="splash-loading" src="content/images/layout/loading.gif" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
