<md-dialog aria-label="Change Password" class="dialog">
    <nt-dialog form="passwordForm" title="Change Password">
        <div class="dialog_error">
            {{vm.dialogError.message}}
            <ul>
                <li ng-repeat="error in vm.dialogError.errors">{{ error.description }}</li>
            </ul>
        </div>
        <div layout="column">
            <em-input form="passwordForm" class="full-width" label="Current Password" control-name="currentPassword" ng-model="vm.model.currentPassword" ng-required="true" em-maxlength="20"></em-input>
            <em-input form="passwordForm" class="full-width" label="New Password" control-name="newPassword" ng-model="vm.model.newPassword" ng-required="true" em-maxlength="20"></em-input>
            <em-input form="passwordForm" class="full-width" label="Confirm New Password" control-name="confirmPassword" ng-model="vm.model.confirmPassword" ng-required="true" em-maxlength="20" error-messages="vm.validator.passwordErrorMessages" ng-change="vm.validator.validatePasswords(passwordForm)"></em-input>
        </div>
    </nt-dialog>
</md-dialog>
