/*Top Bar*/
.top-bar {
    height: 40px;
    position: relative;
    z-index: 22;
    background-color: #202428;
    font-size: 13px;
}

.top-bar-title {
    color: #00bcf2;
    width: 160px;
    font-size: 20px;
    padding-left: 15px;
    height: 100%;
    line-height: 40px;
}

.top-bar-menu {
    border-left: 1px solid rgba(128,128,128,.4);
    min-width: 40px;
}

.top-bar-button {
    margin: 0px !important;
    height: 40px !important;
    width: 50px;
}

.top-bar-button-icon {
    color: white;
    font-size: 20px;
    margin-top: 11px;
}
.top-bar-button:hover > .top-bar-button-icon {
    color: white;
    font-size: 24px;
    margin-top: 8px;
}

.has-hover:hover {
    background-color: #53575b !important;
}

.menu-hover:hover {
    border-left: 5px solid #00bcf2 !important;
}

.menu-selected {
    font-weight: bold;
    background-color: #eee !important;
    border-left: 5px solid #00bcf2 !important;
    border-right: none !important;
}

.menu-selected > a:after {
    content: '\25BC';
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 15px; 
    color: black;
    background-color: transparent;
    -webkit-transform: scaleY(0.6) scaleX(1);
    transform: scaleY(0.6) scaleX(1);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: rotate(-90deg) scaleY(0.6) scaleX(1);
    transform: rotate(-90deg) scaleY(0.6) scaleX(1);
}


.menu-selected  > a {
    color: black !important;
}

.left-bar-collapse .menu-selected > a:after {
    content: none;
}

.avatar {
    z-index: 200;
    align-items: center;
    padding-left: 20px;
}
.avatar-name {
    color: #ffffff;
    font-size: 14px;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 146px;
}

.avatar-username{
    color: #ffffff;
    font-size: 10px;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 146px;
    text-transform: uppercase;
}

.avatar-image{
    height: 35px;
    width: 35px;
    border: 0;
    border-radius: 35px;
    margin-left: 11px;
    margin-right: 15px;
}

div.breadcrumb{
    padding-right: 5px;
    padding-top: 15px;
    padding: 15px 10px 0px 15px;
}

div.breadcrumb, div.breadcrumb a{
	color: white;
    font-size: 12px;
    text-decoration: none;
    white-space: nowrap;
    text-align: right;
    padding: 15px 10px 10px 10px;
}

.top-bar-company md-select > .md-select-value {
    color: #fff !important;
    font-size: 14px;
    border-bottom: none !important;
}



/*End Top Bar*/

/*Left bar styles*/

.left-bar {
    width: 175px;
    background-color: #282d32;
}

.left-bar-collapse {
    width: 50px;
}

.left-bar-collapse .md-icon {
    font-size: 24px;
    color: white;
}

.left-bar-menu button, .left-bar-menu button:hover {
    padding-top: 0px;
}

/*.left-bar-company {
    padding-left: 7px !important;
    padding-top: 0 !important;

}

.left-bar-company label {
    color: #bbb !important;
}

.left-bar-company md-select-value > span {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 146px;
}

.left-bar-company md-select:focus > .md-select-value {
    color: #fff !important;
    border-bottom: none !important;
}*/


.left-bar-item {
    color: #fff !important;
    border-bottom: 1px solid rgba(128,128,128,.4);
    border-right: 2px solid rgba(128,128,128,.4);
    min-height: 25px;
    border-left: 5px solid transparent;
}

.left-bar-item > a {
    color: #fff;
    text-decoration: none;
    text-transform: none;
    width: 95%;
    text-align: left;
    margin: 4px 5px;
    text-overflow: ellipsis;

}

.left-bar-collapse .left-bar-item {
    border-right: none;
}

.left-bar-collapse .left-bar-item > a {
    margin: 0;
    padding: 14px 10px 10px 10px;
    font-size: 20px;
    min-width: 35px;
}

.left-bar-collapse .left-bar-item > a > md-icon {
    color: #dbb94f;
}

.left-bar-collapse .left-bar-item > a:hover {
    margin: 0;
    padding: 12px 10px 12px 10px;
    font-size: 24px
}

.left-bar-collapse .accordion > .item > .header:after {
    top: 15px;
    right: 0px;
    color: #dbb94f;
}


h3.left-bar-item {
    margin: 0;
}

h3.left-bar-item > a {
	font-family: 'Roboto', Verdana, Helvetica, sans-serif;
	font-size: 0.85em !important;
    font-weight: normal;
}

h3.left-bar-item.expand {
    background-color: rgba(67, 116, 167, 0.25);
    border-bottom: 0px;
}

/*h3.left-bar-item:focus {
    border: none !important;
}

h3.left-bar-item > a:focus {
    border: none !important;
}*/


h3.left-bar-item + div {
    border-bottom: 1px solid rgba(128,128,128,.4) !important;
}

h3.left-bar-item + div > div {
    padding: 0;
    margin: 0;
    background-color: rgba(67, 116, 167, 0.25);
    border-bottom: 0px;
}

/*End Left Bar*/

/* accordion animation*/

.ng-hide-add, .ng-hide-remove {
    display: block !important;
}

.slideUp {
    transition: .5s linear all;
    max-height: 400px;
    overflow: hidden;
}
.slideUp.ng-hide {
    max-height:0;
}

.accordion {
    list-style: none;
    padding: 0;
    margin: 0;
}

.accordion > .item > .content {
    margin: 0px;
    overflow: hidden;
}

.accordion > .item > .header {
    position: relative;
}

.accordion > .item > .header:after {
    content: '\25BC';
    position: absolute;
    top: 14px;
    right: 5px;
    -webkit-transform: scaleY(0.6) scaleX(1);
    transform: scaleY(0.6) scaleX(1);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.accordion > .item > .header.expand:after {
    -webkit-transform: rotate(180deg) scaleY(0.6) scaleX(1);
    transform: rotate(180deg) scaleY(0.6) scaleX(1);
}
/* end accordion animation*/

/* Right bar in the grid page */
.right-bar {
    padding-right: 5px;
}
.right-list {
    min-height: initial !important;
    border-left: 5px solid transparent;
    cursor: pointer;
}

.right-list h3 {
    font-weight: bold !important;
    font-size: 13px !important;
}

.right-list:nth-child(odd) {
    background-color: #eaf4f9;
}

.right-list:nth-child(even) {
    background-color: #fff;
}

.right-list:hover {
    background-color: #d4d4d4;
    border-left: 5px solid #00bcf2;
}

.right-list-item {
    padding: 5px 0 5px 0;
}

.right-list-menu {
    background-color: #282d32;
}


.right-list-menu {
    position: absolute;
    top: 4px;
    right: 20PX;
    background-color: rgba(67, 116, 167, 0.75) !important;
}

.context-bar-button {
    margin: 0;
    height: 24px;
    padding-top: 4px;
    min-width: 15px;
    min-height: 12px;
    width: 30px;
}


/* End Right bar in the grid page */

/* Command Bar & Dialog Bar */
.command-bar > md-toolbar, .command-bar > md-toolbar {
    min-height: 46px;
    background-color: rgba(67, 116, 167, 0.25) !important;
    color: white;
    height: 46px;

}
.command-bar > md-toolbar > div {
    padding: 2px 5px 0 4px;
}

.command-bar > md-toolbar > div > h2 {
    font-size: inherit;
    font-weight: inherit;
    margin: inherit;
}

.command-bar-button {
    margin: 0 0 2px 0 !important;
    height: 40px;
    padding-top: 7px;
    min-width: 50px;
}

.command-bar-button-text{
    text-transform: none;
    font-size: 10px;
    line-height: 30px;
}
.command-bar-button[disabled], .command-bar-button[disabled] > .command-bar-button-icon {
    color: black !important;
}

.command-bar-button-icon {
    color: white !important;
    font-size: 18px;
    height: 10px;
}
.command-bar-button:hover > .command-bar-button-icon {
    font-size: 20px;
    margin-top: 0px;
}

.left-bar-item .command-bar-button:hover > .command-bar-button-icon {
    font-size: 20px;
    margin-top: -2px;
}

.content-button {
    background-color: #53575b;
    color: white;
} 

/* End Command Bar */


/* Scrollbar */
::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-button {
	width: 7px;
	height:5px;
}
::-webkit-scrollbar-track {
	background:#eee;
	border: thin solid lightgray;
	box-shadow: 0px 0px 3px #dfdfdf inset;
	border-radius:10px;
}
::-webkit-scrollbar-thumb {
	background:#999;
	border: thin solid gray;
	border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
	background:#7d7d7d;
}			

/* End Scrollbar */

