md-input-container:not(.md-input-invalid).md-input-has-value label {
  font-size: 15px;
  color: black;
  font-weight: bold;
}

md-list-item.md-3-line::before, md-list-item.md-3-line > .md-no-style::before {
     min-height: 50px; 
}
