<em-toolbar title="Manufacturer Details" class="title">
    <em-button class="md-raised md-primary" aria-label="Edit" ng-click="vm.viewManufacturer($event)" module="Fleet" claim="ManufacturerEdit">
        <md-icon class="icon-button" md-svg-icon="content/images/icons/edit.svg"></md-icon>Edit Manufacturer
    </em-button>
</em-toolbar>
<div>
    <md-content layout-padding>
        <div layout="row">
            <div flex="20">
                <em-input label="Name" control-name="Name" ng-model="vm.model.Name" ng-disabled="true"></em-input>
            </div>
            <div flex="20">
                <em-input label="Description" control-name="Description" ng-model="vm.model.Description" ng-disabled="true"></em-input>
            </div>
        </div>
        <div layout="row">
            <div flex>
                <em-toolbar title="Models Data" class="subtitle">
                    <em-button ng-click="vm.addModel($event)" class="md-raised md-primary" aria-label="Add Model" module="Fleet" claim="ManufacturerModelAdd">
                        <md-icon class="icon-button" md-svg-icon="content/images/icons/add.svg"></md-icon>Add Model
                    </em-button>
                    
                </em-toolbar>
                <md-content layout-padding>
                    <div ui-grid="vm.gridOptions" ui-grid-resize-columns ui-grid-auto-resize ng-style="{'height' : vm.gridHeight }" class="sub-grid"></div>
                </md-content>
            </div>
        </div>
</md-content>
</div>

