<md-dialog aria-label="Spare Part Order" class="dialog">
    <form name="sparePartOrderForm" novalidate>
        <em-toolbar title="Spare Part Order" class="dialog">
            <md-button ng-click="save(sparePartOrderForm)" class="md-raised md-primary" ng-show="editMode" ng-disabled="sparePartOrderForm.$invalid && sparePartOrderForm.$submitted" aria-label="Save">
                <md-icon class="icon-button" md-svg-icon="content/images/icons/save.svg"></md-icon>Save
            </md-button>
            <md-button ng-click="cancel()" class="md-raised md-primary" ng-show="editMode">
                <md-icon class="icon-button" md-svg-icon="content/images/icons/cancel.svg"></md-icon>Cancel
            </md-button>
            <md-button ng-click="cancel()" class="md-raised md-primary" ng-hide="editMode">
                <md-icon class="icon-button" md-svg-icon="content/images/icons/cancel.svg"></md-icon>Close
            </md-button>
        </em-toolbar>

        <md-dialog-content class="dialog-content">
            <div>
                <div layout="row">
                    <div flex="30">
                        <em-input form="sparePartOrderForm" type="date" label="Order Date" control-name="ordereDate" ng-model="model.OrderedUTCdatetime" ng-required="true" ng-disabled="!editMode"></em-input>
                    </div>
                    <div flex="30">
                        <em-input form="sparePartOrderForm" type="number" label="Quantity" control-name="orderedUnits" ng-model="model.OrderedUnits" ng-required="true" ng-disabled="!editMode"></em-input>
                    </div>
                    <div flex="40">
                        <em-input form="sparePartOrderForm" type="number" label="Unit Cost" control-name="unitCost" ng-model="model.UnitCost" ng-required="true" ng-disabled="!editMode"></em-input>
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
