<md-dialog aria-label="Spare Part" class="dialog">
    <form name="sparePartForm" novalidate>
        <em-toolbar title="Spare Part" class="dialog">
            <md-button ng-click="save(sparePartForm)" class="md-raised md-primary" ng-disabled="sparePartForm.$invalid && sparePartForm.$submitted" aria-label="Save">
                <md-icon class="icon-button" md-svg-icon="content/images/icons/save.svg"></md-icon>Save
            </md-button>
            <md-button ng-click="cancel()" class="md-raised md-primary">
                <md-icon class="icon-button" md-svg-icon="content/images/icons/cancel.svg"></md-icon>Cancel
            </md-button>
        </em-toolbar>

        <md-dialog-content class="dialog-content">
            <div>
                <div layout="row">
                    <div flex="30">
                        <em-input form="sparePartForm" label="Part Name" control-name="name" ng-model="model.name" ng-required="true" em-maxlength="20"></em-input>
                    </div>
                    <div flex="70">
                        <em-input form="sparePartForm" label="Description" control-name="description" ng-model="model.description" ng-required="false" em-maxlength="100"></em-input>
                    </div>
                    <div flex="30">
                        <em-select form="sparePartForm" label="Type" control-name="vehicleType" ng-model="model.vehicleTypeId" opt-list="model.vehicleTypeList" ng-required="false" ></em-select>
                    </div>
                    <div flex="20">
                        <em-select form="sparePartForm" label="Manufacturer" control-name="manufacturer" ng-model="model.vehicleManufacturerId" opt-list="model.manufacturerList" ng-required="false" ></em-select>
                    </div>
                    <div flex="20" class="text-left">
                        <em-select form="sparePartForm" label="Model" control-name="vehicleModel" ng-model="model.vehicleModelId" opt-list="model.modelList" ng-required="false" ></em-select>
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
