<md-dialog aria-label="trip" class="dialog">
    <form name="tripForm" novalidate>
        <em-toolbar title="trip" class="dialog">
            <md-button ng-click="save(tripForm)" class="md-raised md-primary" ng-show="editMode" ng-disabled="tripForm.$invalid && tripForm.$submitted" aria-label="Save">
                <md-icon class="icon-button" md-svg-icon="content/images/icons/save.svg"></md-icon>Save
            </md-button>
            <md-button ng-click="cancel()" class="md-raised md-primary" ng-show="editMode">
                <md-icon class="icon-button" md-svg-icon="content/images/icons/cancel.svg"></md-icon>Cancel
            </md-button>
            <md-button ng-click="cancel()" class="md-raised md-primary" ng-hide="editMode">
                <md-icon class="icon-button" md-svg-icon="content/images/icons/cancel.svg"></md-icon>Close
            </md-button>
        </em-toolbar>

        <md-dialog-content class="dialog-content">
            <div>
                <div layout="row">
                    <div flex="20">
                        <em-input form="tripForm" type="string" label="TripName" control-name="VehicleTripName" ng-model="model.VehicleTripName" ng-required="true" ng-disabled="!editMode"></em-input>
                    </div>
                    <div flex="20">
                        <em-input form="tripForm" type="date" label="Start" control-name="StartingTime" ng-model="model.StartingTime" ng-required="true" ng-disabled="!editMode"></em-input>
                    </div>
                    <div flex="20">
                        <em-input form="tripForm" type="date" label="Reached" control-name="ReachingTime" ng-model="model.ReachingTime" ng-required="true" ng-disabled="!editMode"></em-input>
                    </div>
                    <div flex="20">
                        <em-input form="tripForm" type="number" label="OdometerStart" control-name="OdometerStart" ng-model="model.OdometerStart" ng-required="true" ng-disabled="!editMode"></em-input>
                    </div>
                    <div flex="20">
                        <em-input form="tripForm" type="number" label="OdometerEnd" control-name="odometer" ng-model="model.OdometerEnd" ng-required="true" ng-disabled="!editMode"></em-input>
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
