<md-dialog aria-label="Service Details" class="dialog">
    <form name="serviceForm" novalidate>
        <em-toolbar title="Service Details" class="dialog">
            <md-button ng-click="save(serviceForm)" class="md-raised md-primary" ng-show="editMode" ng-disabled="serviceForm.$invalid && serviceForm.$submitted" aria-label="Save">
                <md-icon class="icon-button" md-svg-icon="content/images/icons/save.svg"></md-icon>Save
            </md-button>
            <md-button ng-click="cancel()" class="md-raised md-primary" ng-show="editMode">
                <md-icon class="icon-button" md-svg-icon="content/images/icons/cancel.svg"></md-icon>Cancel
            </md-button>
            <md-button ng-click="cancel()" class="md-raised md-primary" ng-hide="editMode">
                <md-icon class="icon-button" md-svg-icon="content/images/icons/cancel.svg"></md-icon>Close
            </md-button>
        </em-toolbar>

        <md-dialog-content class="dialog-content">
            <div>
                <div layout="row">
                    <div flex="30">
                        <em-input form="serviceForm" type="date" label="Service Date" control-name="serviceDate" ng-model="model.ServiceDate" ng-required="true" ng-disabled="!editMode"></em-input>
                    </div>
                    <div flex="70">
                        <em-input form="serviceForm" label="Compliant" control-name="compliant" ng-model="model.Compliant" ng-required="true" em-maxlength="30" ng-disabled="!editMode"></em-input>
                    </div>
                </div>
                <div>
                    <em-input form="serviceForm" label="Description" control-name="description" ng-model="model.Description" ng-disabled="!editMode"></em-input>
                </div>
                <div layout="row">
                    <div flex="70">
                        <table>
                            <tbody>
                                <tr>
                                    <td colspan="3">
                                        <em-toolbar title="Parts Used &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; " class="subtitle subtitle-table">
                                            <md-button ng-click="addPart()" class="md-raised md-primary em-button" ng-show="editMode" aria-label="Add Part">
                                                <md-icon class="icon-button" md-svg-icon="content/images/icons/add.svg"></md-icon>
                                        </em-toolbar>
                                    </td>
                                </tr>
                                <tr ng-repeat="part in model.SpareParts track by $index" class="ui-grid-row">
                                    <td>
                                        <span ng-init="part.control_partname='partname' + $index"></span>
                                        <span ng-init="part.control_quantity='quantity' + $index"></span>
                                        <md-input-container>
                                            <md-select name="partname" placeholder="Part" ng-model="part.SparePartId" required ng-disabled="!editMode">
                                                <md-option ng-value="opt.Key" ng-repeat="opt in model.SparePartsLookup">{{ opt.Item }}</md-option>
                                            </md-select>
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <em-input form="serviceForm" label="Quantity" control-name="{{part.control_quantity}}" type="number" ng-model="part.Quantity" ng-required="true" ng-disabled="!editMode" style="width:100px"></em-input>
                                    </td>
                                    <td>
                                        <md-button ng-click="removePart($index)" class="md-icon-button md-raised em-button" ng-show="editMode" aria-label="Remove">
                                            <md-icon class="icon-button" md-svg-icon="content/images/icons/delete.svg"></md-icon>
                                        </md-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div flex>
                        <em-input form="serviceForm" label="Misc Cost" control-name="miscCost" type="number" ng-model="model.MiscCost" ng-required="false" ng-disabled="!editMode"></em-input>
                        <em-input form="serviceForm" label="Reason" control-name="reason" ng-model="model.Reason" ng-disabled="!editMode"></em-input>
                    </div>
                </div>
                <div layout="row">
                    <div flex="30">
                    </div>
                    <div flex="70">
                    </div>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
